/hangman0.png
/hangman1.png
/hangman2.png
/hangman3.png
/hangman4.png
/hangman5.png
/hangman6.png
/Hangmancomplete.py
/index.html
/logo.png
/question.py
/README.md
/sam.py
/styles.css
/tempCodeRunnerFile.python
/workspace.code-workspace